p{
    color: rgb(226, 43, 165);
}
h1{
    color: brown;
}
.maus{
    background-color: yellow;
    width: 200px;
    height: 5px double;
}
.div2{
    background-color: blueviolet;
    width: 200px;
    height: 5px;
    padding: 30px;
    border: 20;
    border-radius: 50px;
     

}